rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /competitions/{document=**} {
      // anyone can read
      allow read;
      
      // allow write only for admins
      allow write: if ('role' in request.auth.token) && (request.auth.token.role == "admin");
    }
    
    match /userEvents/{userEmail}/events/{eventId} {
        // Allow users to read/write their own "userEvents" document and "events" subcollection
      allow read, write: if request.auth != null && request.auth.token.email == userEmail;
    }
  }
}