/* Try to use the ChakraUI colors and etc... (e.g. use its CSS properties */

.fc-day {
    --fc-bg-event-opacity: 0.7;
    font-size: var(--chakra-fontSizes-sm);
    color: var(--chakra-colors-chakra-text);
}
.chakra-ui-dark .fc-day, .chakra-ui-dark .fc-multimonth-header {
    color: var(--chakra-colors-chakra-inverse-text);
}
.chakra-ui-dark .fc-day.fc-col-header-cell {
    color: var(--chakra-colors-chakra-text);
}


.fc .fc-daygrid-body {
    z-index: unset;
}
.fc .fc-daygrid-day-bg .fc-bg-event {
    z-index: unset;
}

.fc .fc-daygrid-day-number {
    z-index: 1;
}